
.page-title, .archive-description {
    margin-left: 3rem;
}

.archive-description{
    font-size : clamp(2rem, #{"-0.875rem + 8.333vw"},3rem);
}

.session{

    @include desktop{
        margin-left: 3rem;
    }
     margin: 0 auto;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .Asession {
        background-color: rgb(218, 228, 248);
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border : 1px solid #aaa;
        width : 20%;
        height: 6rem;
        margin : 1%;
        padding  : 1%;
        text-align : center;

        div {
            display: none;
            flex-direction: row;
            margin: .4rem;
            font-size: 1rem;
            color: coral;
        }

        a {
            display: flex;
            justify-content: center;
            text-align : center;
            
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            transform: rotate(270deg);
        }
    }

    
    @include desktop {
        .Asession {

            height: auto;

            width: 20%;
            a{
                font-size: 1.5rem;
                transform: rotate(0);
            }

            div{
                display: flex;
            }
        
        }
}

.Tsession{
    justify-content: left;
background-color: rgb(147, 147, 241);
}

}

.rouge{
    background-color: red;
}